@import './red';

@mixin boxshadow {
    -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
   box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}


article section {
   @include boxshadow;
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
}